/*
============================================
; Title:  vanhessche-calorie.css
; Author: John Vanhessche
; Date:   2 September 2022
; Description: additional styling for vanhessche-calorie.html
;===========================================
*/

/*add per instructions
*Adding a css entry of #foodList and giving it the following attributes.
*/
#foodList {
    float: right;
    color: #df546a;
    font-size: 12px;
    letter-spacing: 2px;
}